@import './variables.scss';

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  color: $light;
  background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.75) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: block;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2.25rem;
  margin-top: 3rem;

  img {
    margin: 0 5px 0 0;
    width: auto;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraphs */
p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: $lightText;

  .highlight {
    background:rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.03);
    padding: 0 2px;
    border-radius: 4px;
    color: $light;
  }
}

ul {
  li {
    color: $lightText;
    font-size: 1.5rem;

    time[datetime] {
      font-size: 1rem;
    }
  }
}

/* Lists */
ul,
ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Blockquotes */
blockquote {
  font-style: italic;
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 3px solid #ccc;
}

/* Links */
a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Images */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1.5rem 0;
  border-radius: 6px;
}

.blog-post {
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.1;
    color: $light;
    background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.75) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: block;
  }

  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 2.25rem;
    margin-top: 3rem;

    img {
      margin: 0 5px 0 0;
      width: auto;
    }
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  /* Paragraphs */
  p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: $lightText;

    .highlight {
      background:rgba(255,255,255,0.06);
      border: 1px solid rgba(255,255,255,0.03);
      padding: 0 2px;
      border-radius: 4px;
      color: $light;
    }
  }

  ul {
    li {
      color: $lightText;
      font-size: 1.5rem;

      time[datetime] {
        font-size: 1rem;
      }
    }
  }

  /* Lists */
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  /* Blockquotes */
  blockquote {
    font-style: italic;
    margin: 1.5rem 0;
    padding-left: 1.5rem;
    border-left: 3px solid #ccc;
  }

  /* Links */
  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  /* Images */
  img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.5rem 0;
    border-radius: 6px;
  }
}

article,
.blog-post {
  a {
    color: $highlight;
  }

  h3 {
    img {
      width: auto;
    }
  }

  h2 {
    img {
      width: 26px;
    }
  }

  img {
    width: 100%;
  }
}
