$dark: #121212;
$light: #f7f7f7;
$lightText: #b0b0b0;
$highlight: #55FD91;

/* spacing */
$spacing-px: 1px;
$spacing-0: 0;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-32: 8rem;