---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<a href="/" class="nav-logo">
		<img src="/mindi.svg" alt="" width="110">
	</a>

	<nav>
		<div class="nav-menu">
			<HeaderLink href="/blog" class="link">Blog</HeaderLink>
			<HeaderLink href="/about" class="link">About</HeaderLink>
			<HeaderLink href="https://twitter.com/mindibookmarks" target="_blank" class="link">Twitter</HeaderLink>
		</div>
	</nav>

	<div class="nav-actions">
		<HeaderLink href="https://mindi.ai/login" target="_blank" class="login">Login</HeaderLink>
		<a href="https://mindi.ai/signup" target="_blank" class="button button-primary">Sign Up <div class="button-border"></div></a>
	</div>
</header>
<style lang="scss">
	@import './../styles/variables.scss';

	header {
		padding: $spacing-8 0;
		display: flex;
		gap: 20px;
		justify-content: space-between;

		nav {
			display: flex;
			gap: 40px;
			justify-content: space-between;
			align-items: center;
		}

		.nav-menu {
			display: flex;
			gap: 20px;
			background: rgba(255,255,255,.02);
			border: 1px solid rgba(255,255,255,.08);
			border-radius: 999px;
			display: flex;
			left: 50%;
			margin: 0 auto;
			padding: 0.5rem 1.5rem;
			position: absolute;
			transform: translate(-50%);

			@media (max-width: 760px) {
				display: none;
			}

			a:hover {
				text-decoration: none;
			}
		}

		.nav-actions {
			display: flex;
			gap: 15px;
		}

		.nav-logo {
			display: flex;
			align-items: center;

			img {
				display: block;
  			height: auto;
				margin: 0;
			}
		}
	}
</style>